* {margin: 0; padding: 0;}
a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "roboto";
  src : url("./fonts/Roboto-Regular.ttf")
}

$font-sizes : ("regular" : 100%, "medium" : 150%, "large" : 200%);
$main-color: #0d0d0d;

h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto', 'Helvetica';
}

h2 {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: -1em;
  max-width: 500px;
  padding: .6em;
  background: gold;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  font-size: map-get($font-sizes, "large");
}

// Navigation
nav {
  background: $main-color;
  width: 100%;
  padding: 1em;
  position: fixed;
  font-family: 'roboto';

  .active {
    color: gold;
    & + span {width: 100%;}
  }
  span {
    display: block;
    margin-top: .2em;
    width: 0;
    height: 1px;
    border-bottom: 5px dashed gold;
    transition: width .3s;
  }
  div {
    color: white;
    &:hover {
      cursor: pointer;
      & + span {width: 100%;}
    }
  }
  ul {
    margin-top: 1em;
  }
  li {
    list-style-type: none;
    float: left;
    padding: 0 1em 0 1em;
  }
}
// Main Header
header {
  background: $main-color;
  color: white;
  text-align: center;
  font-family: 'roboto';
  font-size: 150%;
  height: 30rem;
  .monitor-icon {
    height: 100px;
    width: 100%;
    display: inline-block;
    background-image: url("./images/monitor.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1.5em;
  }
  h1 {
    padding-top: 2.5em;
  }
  p {
    font-size: 70%;
    font-weight: bold;
    span {color: gold;}
  }
}
// Project Section
#project-section {
  text-align: center;
  margin-bottom: 12em;

  .project-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5em auto;

    .project-box {
      transition: all 2s;
      display: flex;
    }

    .project-description {
      max-width: 35rem;
      h3, h4 {
        font-size: 150%;
        font-weight: lighter;
        margin: 1em 0;
      }
      p {
        max-width: 80%;
        text-align: left;
        line-height: 1.5em;
        font-family: 'Helvetica';
        margin: auto;
      }
      .tools-list {
        display: inline-block;
        min-height: 150px;
        margin:auto;
        li {
          margin: .5em 0;
          font-size: 110%;
          text-align: left;
          font-family: 'roboto';
        }
      }
    }
    .project-img {
      display: block;
      width: 400px;
      height: 400px;
      float: right;
    }
    .project-buttons {
      margin-top: 2em;
      a {
        font-family: 'roboto';
        font-size: 90%;
        display: inline-block;
        color: white;
        background: $main-color;
        width: 5rem;
        padding: .5em;
        margin: 0 .5em 0 .5em;
        transition: all .2s;
        &:hover {
          background: gold;
          transform: translateY(-5px);
          box-shadow: 0 5px 5px gray;
          color: black;
        }
      }
    }
  }
}
#skills-section {
  ul {
    display: block;
    width: 36rem;
    height: 25rem;
    margin: 4em auto;
    margin-bottom: 8em;
    li {
      float: left;
      list-style-type: none;
      margin: 1em 2em;
      span {
        text-align: center;
        font-family: 'roboto', 'Helvetica';
        font-weight: bold;
        display: block;
      }
    }
  }
  img {
    width: 5rem;
    height: 5rem;
  }
}

#about-section {
  .parallax {
    width: 600px;
    height: 500px;
    margin: 2em auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('./images/me.jpg');
  }
  .description {
    margin: 2em auto;
    max-width: 700px;
    padding: 2em;
    padding-bottom: 3em;
    background: $main-color;
    color: white;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 10%;
  }
  p {
    text-align: left;
    line-height: 1.5em;
    font-family: 'roboto';
  }
}


footer {
  color: white;
  height: 5rem;
  padding: 1em;
  background: $main-color;
  text-align: center;
  p {
    font-family: 'roboto', 'Helvetica';
    font-size: 90%;
  }
  img {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    width: 3rem;
    height: 3rem;
    transition: all 1s;
    &:hover {
      transform: rotate(360deg);
    }
  }
}
